.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.new-operation-button-container {
  width: 100%; /* Para ocupar todo el ancho */
  display: flex;
  justify-content: flex-end; /* Mueve el botón a la derecha */
  padding-bottom: 16px;
}
