.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.form-container {
    text-align: center;
}

.operation-form-title {
    margin-bottom: 20px;
}

.operation-form-input {
    width: 90%;
    padding-top: 5px;
}
