@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette
  ),
));

html {
  @include mat.all-component-themes($light-theme);
  @include mat.strong-focus-indicators-theme($light-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }